/* ==========================
   LOGGED IN USER > BEGINNING 
   ========================== */
   
   /* ===============================
      LOGGED-IN USER ICON > BEGINNING 
      =============================== */

.user_logado {
  display: flex;
  align-items: center;
  width: 100% auto;
  cursor: pointer;
  border: none;
  font-size: 2rem;
  border-radius: 15px;
  color: var(--font-color);
  background: linear-gradient(var(--header-color), var(--header-color)) padding-box, var(--blue-gradient-color) border-box;
  border: 1px solid transparent;
  padding: 8px;
  gap: 10px;
  }
  
.user_logado .fa-user {
  font-size: 2.5rem;
}

.user_logado #logado {
  font-size: 2rem;
}

    /* =========================
       LOGGED-IN USER ICON > END
       ========================= */
  

    /* ===============================
       LOGGED-IN USER MENU > BEGINNING 
       =============================== */
  
  .menu-logado {
    display: flex;
    opacity: 0; 
    position: absolute; 
    visibility: hidden; 
    transition: opacity 0.3s ease;
    flex-direction: column;
    width: 100%;
    max-width: 350px;
    height: 400px;
    top: 98px;
    right: 10px;
    border-radius: 15px;
    border: 1px solid var(--container-border);
  }
  
  .menu-logado .editar-perfil, .cadastrar_funcionario,  .leave {
      background-color: var(--header-color);
      width: 100%;
      height: 100%;
      border: none;
      text-decoration: none;
  }
  
  .editar-perfil:hover, .cadastrar_funcionario:hover, .leave:hover {
    cursor: pointer;
    background: var(--back-menu-logado);
  }

  
  
        /* ====================================
           REGISTER EMPLOYEE BUTTON > BEGINNING
           ==================================== */

  .menu-logado .cadastrar_funcionario, .menu-logado .editar-perfil {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 10px;
  }
  .menu-logado .editar-perfil {

  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
  
  .menu-logado .cadastrar_funcionario {

    border-bottom: 1px solid var(--container-border);
    border-top: 1px solid var(--container-border);
  }
  
  .menu-logado .fa-wrench, .menu-logado .fa-gear {
    font-size: 4rem;
    padding: 10px;
    color: var(--font-color)
  }
  
  .menu-logado .cf_text {
    display: flex;
    text-align: start;
    flex-direction: column;
    gap: 10px;
  }
  
  .menu-logado .cf_title {
    font-size: 2rem;
    color: var(--font-color)
  }
  
  .menu-logado .cf_subtitle {
    font-size: 1.5rem;
    color: var(--font-color);
    opacity: 80%;
  }

        /* ==============================
           REGISTER EMPLOYEE BUTTON > END
           ============================== */
  
  
        /* ==========================
           LOG OUT BUTTON > BEGINNING
           ========================== */

  .menu-logado .leave {
    display: flex;
    align-items: center;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
  }
  
  .leave .image_leave {
    width: 50px;
    margin: 0 10px;
  }
  
  .leave .text_leave {
    font-size: 2rem;
    color: #8B0000;
    margin: 0 10px;
  }

        /* ====================
           LOG OUT BUTTON > END
           ==================== */

    /* ==============================
       LOGGED-IN USER MENU> BEGINNING 
       ============================== */

  /* ==================
   LOGGED IN USER > END
   ==================== */