@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* ==============================
   GLOBAL STYLIZATION > BEGINNING
================================= */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto";
  font-size: 62.5%;
}

:root {
  --back-color: rgb(24, 24, 24);
  --header-color: rgb(17, 17, 17);
  --font-color: rgb(219, 219, 219);
  --container-border: rgba(0, 0, 0, 0.3);

  --link-color: rgb(179, 179, 179, 0.6);
  
  --blue-gradient-color: linear-gradient(to right, var(--font-color) 20%, rgba(0,212,255,1) 100%);
  --text-blue-gradient-color: linear-gradient(to bottom, var(--font-color) 20%, rgba(0,212,255,1) 100%) border-box;

}

.light {
  --back-color: rgb(255, 255, 255);
  --header-color: rgb(251, 250, 244);
  --font-color: rgb(12, 12, 12);
  --container-border: rgba(219, 219, 219, 1);

  --link-color: rgba(107, 105, 105, 1);
  
  --blue-gradient-color: linear-gradient(to right, rgba(0,212,255,1) 35%, var(--font-color) 80%);
  --text-blue-gradient-color: linear-gradient(to bottom, rgba(0,212,255,1) 35%, var(--font-color) 80%) border-box;
}

/* ========================
   GLOBAL STYLIZATION > END
=========================== */

/* ===============================
   GENERAL STYLIZATION > BEGINNING
================================== */

body {
  font-family: Arial, Helvetica, sans-serif;
  background: var(--back-color);
  color: var(--font-color);
  transition: all 0.3s;
  font-weight: 600;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

.container {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  background-color: var(--back-color);
}

main {
  height: 100%;
}

.container:not(header .container) {
  display: flex;
  align-items: center;
  justify-content: center;
  border-left: 1px solid var(--container-border);
  border-right: 1px solid var(--container-border);
  background-color: var(--back-color);
  padding: 20px 0;
}

a {
    text-decoration: none;
}

/* =========================
   GENERAL STYLIZATION > END
============================ */